body {
    background-image: url(https://i.ibb.co/xmkNgTt/Schermata-2017-11-27-alle-15-36-53-1024x546-copia.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1820px;
    overflow-x: hidden
}

.logo {
    background-image: url(https://i.ibb.co/9YtfB7n/Dexii-Poke.png)!important;
    background-size: 260px 100px;
    background-position: left;
    background-repeat: no-repeat;
    cursor: pointer;
}

.pokemonImage {
    background-image: url(https://i.ibb.co/N91cL4f/image.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

.titleWelcome {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 24px opacity: 1;
    height: 400px;
}

.font-title {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    padding-top: 10%;
    padding-left: 6%;
    color: #1a5d4a;
}

.containerTitle {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 60%;
    width: 90%;
    margin-top: 70px;
}

.font-subtitle {
    color: #1a5d4a;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-left: 6%;
    padding-right: 6%;
    line-height: 35px;
}

.btn-color {
    background-color: #3466AF !important;
    border: none !important;
    border-radius: 20px !important;
}

button:hover {
    border: none!important;
    background-color: #2a589a !important;
}

.font-nav {
    font-family: 'Raleway', sans-serif;
    font-size: 20px !important;
    cursor: pointer !important;
}

.margin {
    margin-right: 10px;
}

.margin-select {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 45px;
}

#clean {
    margin-top: 30px;
    padding-left: 15%;
    padding-right: 15%;
}

.card-group {
    margin-left: 30px;
    margin-right: 40px;
}

.card {
    margin-bottom: 15px;
    background-color: white;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.card-img-top {
    padding: 15px;
    width: 100%;
    height: 160px;
    background-color: #f2f2f2;
}

.modal.fade {
    text-align: center;
    opacity: 1;
}

.modal-content {
    border-radius: 20px;
    background-color: #3466AF;
    opacity: 0.85;
    filter: alpha(opacity=80);
    color: white;
}

.card-img-modal {
    width: 150px;
    height: 150px;
    margin: none;
}

table {
    width: 100%;
}

th,
td {
    padding: 6px;
    text-align: left;
    border-bottom: 0.5px solid #ddd;
    font-weight: normal;
}

h6 {
    text-align: center;
}

nav {
    width: 100%;
    display: inherit;
}

label {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px 1px #000000;
}

.navi {
    margin-top: 17px;
    padding-bottom: 2%
}

.my-4 {
    width: 520px !important;
}

.my-4-curious {
    width: 700px;
}

.margin-welcome {
    margin-top: 20px;
}

.container-curious-data {
    border-radius: 5px;
    background-color: rgba(0, 78, 73, 0.3);
    height: 280px;
    width: 80%;
    padding-top: 2%;
}

.title-curious-data {
    font-family: 'Lemon/Milk';
    font-size: 25px;
    text-align: center;
    padding-top: 2%;
    text-shadow: 1px 1px 1px #000000;
    color: white;
}

.row-curious-data {
    padding-top: 7%;
    padding-bottom: 5%;
}

.subtititle-curious {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-left: 3%;
    padding-right: 6%;
    line-height: 35px;
}

.background-kanto {
    background-image: url(https://i.ibb.co/L6FW1kk/7edb4c36883633-572ca19d1da8f.png);
    background-size: 300px 300px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2%;
}

.background-clock {
    background-image: url(https://i.ibb.co/M56gPXD/pokemonnn.png);
    background-size: 280px 280px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2%;
}

.background-types {
    background-image: url(https://usercontent2.hubstatic.com/12297909.png);
    background-size: 280px 280px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2%;
}

.banner-image {
    width: 1000px;
    height: 500px;
}

#title-movil {
    display: none;
}

.text-percent {
    font-family: 'Lemon/Milk';
    font-size: 30px;
    text-align: center;
    color: white;
}

.percent {
    font-family: 'Lemon/Milk';
    font-size: 50px;
    text-align: center;
    color: white;
}

@font-face {
    font-family: 'Lemon/Milk';
    src: url('http://www.fontsaddict.com/fontface/lemonmilk.ttf');
}


@media only screen and (max-width: 600px) {
    #carouselExampleIndicators {
        display: none;
    }
    #movil {
        display: block;
    }
    #title-movil {
        display: block;
    }
    .banner-movil {
        background-image: url(https://i.ibb.co/N91cL4f/image.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 350px 200px;
        margin-top: 10px;
        height: 250px;
    }
    .logo {
        background-size: 140px 50px;
    }
    .font-navi-resp {
        font-size: 14px !important;
        text-align: left !important;
    }
    .pokemonImage {
        background-size: 350px 200px;
        margin-top: 10px;
        height: 250px;
    }
    .containerTitle {
        position: top;
        margin-top: 0px;
        height: 250px;
        margin-left: 20px;
        padding: 2%;
    }
    .font-title {
        font-size: 16px;
    }
    .font-subtitle {
        font-size: 14px;
        line-height: 25px;
    }
    .card-img-top {
        width: 190px;
        height: 210px;
        text-align: center;
        background-color: white;
    }
    .card-img-poke {
        align-self: center;
    }
    .card {
        text-align: center;
    }
    .margin-select {
        padding: 13%;
    }
    .my-4 {
        width: 250px !important;
    }
}

